<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel = "stylesheet" href = "application.css"  type="text/css">
    <script type="text/javascript" src="/CMSC335FinalProject/application.js"></script>
</head>
<body>
    <h1 id = "blue">Weather Application</h1>
    <a href="/input">To input the weather of cities onto the table, click here </a> <br><br>
    <a href="/clear">To clear the table, click here </a>
    <br><br>
    <%- table %>
    <hr>
</body>
</html>